header {
    color: #FFF;
    height: 70px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #CCC;
}

header .logo {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}